{% extends 'auctions/layout.html' %}

{% block body %}
{% for cat in catagories %}
<a href="{% url 'ind-page' cat.id %}" class="card text-decoration-none text-dark">
  <div class="card-body">
    <img src="{{cat.image}}" alt="product image" class="img-fluid rounded" style="height: 200px; width:400px ; object-fit: cover;">
    <h5 class="card-title">{{ cat.title }}</h5>
    <p class="card-text text-muted">{{ cat.description }}</p>
    <p class="card-text fw-bold">{{ cat.start_bid }}$</p>
  </div>
</a>
{% empty %}
<p>no products available for this catagory</p>
{% endfor%}
{% endblock %}